body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img {
    align-self: center;
}

.product h2 {
    margin: 0;
    font-size: 18px;
    color: #007BFF;
}

.product p {
    margin: 5px 0;
    color: #555;
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 200px;
}